body {
  background-color: #121212;
  color: white;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: #00ff99;
  text-align: center;
}

.container {
  background-color: #1e1e1e;
  border-radius: 15px;
  padding: 30px;
  width: 400px;
  box-shadow: 0 0 15px rgba(0, 255, 153, 0.2);
  text-align: center;
}

input[type="password"],
input[type="text"] {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  background-color: #2a2a2a;
  color: white;
}

button {
  background-color: #00ff99;
  border: none;
  color: black;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #00cc77;
}

#strength-bar {
  width: 100%;
  height: 15px;
  border-radius: 10px;
  background-color: #2a2a2a;
  margin-top: 10px;
  overflow: hidden;
}

#bar {
  height: 100%;
  width: 0%;
  background-color: red;
  border-radius: 10px;
  transition: width 0.4s ease, background-color 0.3s ease;
}

#feedback {
  margin-top: 10px;
  font-weight: bold;
}

footer {
  margin-top: 20px;
  color: gray;
  font-size: 12px;
}